/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}
.logo {
    margin: 0;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li {
    display: inline;
    margin-right: 15px;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
}
.form-control {
    width: 200px;
    margin-right: 10px;
}
#search-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
#search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.user-info {
    color: #fff;
    font-weight: bold;
}

/* manga entries */
/* Custom styles */
#results {
    display: flex;
    flex-wrap: wrap;
}

.manga-entry {
    border: 1px solid #ccc; /* Border around each manga entry */
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px; /* Space between manga entries */
    margin-bottom: 20px; /* Space below manga entries */
    width: calc(20% - 40px); /* Adjusted width for each manga entry (20% minus margins) */
    box-sizing: border-box; /* Include border and padding in width */
    display: flex;
    flex-direction: column;
}

.image-container {
    text-align: center; /* Center image */
    height: 250px; /* Fixed height for image container */
    overflow: hidden; /* Hide overflow */
}

.image-container img {
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 100%; /* Ensure image does not exceed container height */
}

.manga-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.manga-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    flex-grow: 1; /* Expand description to fill remaining space */
}

.add-to-read-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.add-to-read-btn:hover {
    background-color: #0056b3;
}

.manga-rating {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

/* index.html */
.carousel-item {
    height: 40rem;
}

#manySearch {
    display: flex;
    flex-wrap: wrap;
}
